annotated-types==0.7.0
awswrangler==3.15.0
boto3==1.42.38
botocore==1.42.38
jmespath==1.1.0
mypy_extensions==1.1.0
numpy==2.4.1
packaging==25.0
pandas==2.3.3
pandera==0.29.0
pip-autoremove==0.10.0
pyarrow==22.0.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.16.0
setuptools==80.10.2
six==1.17.0
typeguard==4.4.4
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3